@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4286% 4.1176%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4286% 4.1176%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4286% 4.1176%;
    --primary: 262.1229 83.2558% 57.8431%;
    --primary-foreground: 210 20% 98.0392%;
    --secondary: 220 14.2857% 95.8824%;
    --secondary-foreground: 220.9091 39.2857% 10.9804%;
    --muted: 220 14.2857% 95.8824%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 220 14.2857% 95.8824%;
    --accent-foreground: 220.9091 39.2857% 10.9804%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 210 20% 98.0392%;
    --border: 220 13.0435% 90.9804%;
    --input: 220 13.0435% 90.9804%;
    --ring: 262.1229 83.2558% 57.8431%;
    --chart-1: 11.9205 75.8794% 60.9804%;
    --chart-2: 173.2174 57.7889% 39.0196%;
    --chart-3: 197.3333 36.5854% 24.1176%;
    --chart-4: 43.125 73.5632% 65.8824%;
    --chart-5: 27.1233 86.9048% 67.0588%;
    --sidebar: 0 0% 98.0392%;
    --sidebar-foreground: 240 10% 3.9216%;
    --sidebar-primary: 261.0345 100% 65.8824%;
    --sidebar-primary-foreground: 250 100% 97.6471%;
    --sidebar-accent: 240 4.7619% 95.8824%;
    --sidebar-accent-foreground: 240 5.8824% 10%;
    --sidebar-border: 240 5.8824% 90%;
    --sidebar-ring: 261.0345 100% 65.8824%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.75rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  }

  .dark {
    --background: 224 71.4286% 4.1176%;
    --foreground: 210 20% 98.0392%;
    --card: 224 71.4286% 4.1176%;
    --card-foreground: 210 20% 98.0392%;
    --popover: 224 71.4286% 4.1176%;
    --popover-foreground: 210 20% 98.0392%;
    --primary: 263.3898 69.9605% 50.3922%;
    --primary-foreground: 210 20% 98.0392%;
    --secondary: 215 27.907% 16.8627%;
    --secondary-foreground: 210 20% 98.0392%;
    --muted: 215 27.907% 16.8627%;
    --muted-foreground: 217.8947 10.6145% 64.902%;
    --accent: 215 27.907% 16.8627%;
    --accent-foreground: 210 20% 98.0392%;
    --destructive: 0 62.8205% 30.5882%;
    --destructive-foreground: 210 20% 98.0392%;
    --border: 215 27.907% 16.8627%;
    --input: 215 27.907% 16.8627%;
    --ring: 263.3898 69.9605% 50.3922%;
    --chart-1: 219.8883 70.1961% 50%;
    --chart-2: 160 60% 45.098%;
    --chart-3: 30 80% 54.902%;
    --chart-4: 280 64.7059% 60%;
    --chart-5: 339.7674 74.7826% 54.902%;
    --sidebar: 240 5.8824% 10%;
    --sidebar-foreground: 0 0% 98.0392%;
    --sidebar-primary: 265.3636 99.0991% 56.4706%;
    --sidebar-primary-foreground: 250 100% 97.6471%;
    --sidebar-accent: 240 3.7037% 15.8824%;
    --sidebar-accent-foreground: 0 0% 98.0392%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 265.3636 99.0991% 56.4706%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0.8rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  }
}

@layer base {
  :root {
    --font-sans: Outfit, sans-serif;
  }
  body {
    font-family: var(--font-sans);
    @apply bg-background text-foreground;
  }
}
