@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: 40.0000 14.2857% 95.8824%;
  --foreground: 39.2308 25.4902% 20%;
  --base: 39.2308 25.4902% 20%;
  --card: 40.0000 14.2857% 95.8824%;
  --card-foreground: 39.2308 25.4902% 20%;
  --popover: 40.0000 14.2857% 95.8824%;
  --popover-foreground: 39.2308 25.4902% 20%;
  --primary: 30.2609 50.2183% 44.9020%;
  --primary-foreground: 30 69.2308% 94.9020%;
  --secondary: 60 30.3371% 65.0980%;
  --secondary-foreground: 60 25.4902% 20%;
  --muted: 40.0000 14.7541% 88.0392%;
  --muted-foreground: 40.0000 24.8780% 40.1961%;
  --accent: 40.0000 14.7541% 88.0392%;
  --accent-foreground: 39.2308 25.4902% 20%;
  --destructive: 0 69.6078% 60%;
  --destructive-foreground: 0 12.0000% 95.0980%;
  --border: 41.2500 15.6863% 80%;
  --input: 41.2500 15.6863% 80%;
  --ring: 30.2609 50.2183% 44.9020%;
  --chart-1: 30.0000 60% 45.0980%;
  --chart-2: 60 39.6648% 64.9020%;
  --chart-3: 300 50.0000% 60.0000%;
  --chart-4: 19.4118 40.1575% 50.1961%;
  --chart-5: 14.7826 30.1310% 55.0980%;
  --sidebar: 0 0% 91.7647%;
  --sidebar-foreground: 40.5000 25.3165% 30.9804%;
  --sidebar-primary: 29.7196 49.7674% 42.1569%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 43.6364 14.2857% 84.9020%;
  --sidebar-accent-foreground: 39.2308 25.4902% 20%;
  --sidebar-border: 38.8235 14.5299% 77.0588%;
  --sidebar-ring: 29.7196 49.7674% 42.1569%;
  --font-sans: Outfit, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

.dark {
  --background: 38.1818 21.5686% 10%;
  --foreground: 29.4118 50.4950% 80.1961%;
  --base: 29.4118 50.4950% 80.1961%;
  --card: 38.1818 21.5686% 10%;
  --card-foreground: 29.4118 50.4950% 80.1961%;
  --popover: 38.1818 21.5686% 10%;
  --popover-foreground: 29.4118 50.4950% 80.1961%;
  --primary: 30.2609 50.2183% 44.9020%;
  --primary-foreground: 30 69.2308% 94.9020%;
  --secondary: 60 39.6648% 35.0980%;
  --secondary-foreground: 60 50% 74.9020%;
  --muted: 39.0000 19.6078% 20%;
  --muted-foreground: 39.6774 30.3922% 60%;
  --accent: 39.0000 19.6078% 20%;
  --accent-foreground: 29.4118 50.4950% 80.1961%;
  --destructive: 0 70.1961% 50%;
  --destructive-foreground: 0 12.0000% 95.0980%;
  --border: 40.6452 20.2614% 30%;
  --input: 40.6452 20.2614% 30%;
  --ring: 30.2609 50.2183% 44.9020%;
  --chart-1: 30.1961 60.0000% 50%;
  --chart-2: 60 50.2183% 55.0980%;
  --chart-3: 300 50.0000% 60.0000%;
  --chart-4: 20.2597 30.1961% 50%;
  --chart-5: 15.0000 40% 45.0980%;
  --sidebar: 0 0% 12.1569%;
  --sidebar-foreground: 30.2362 49.8039% 50%;
  --sidebar-primary: 29.6842 50.2646% 37.0588%;
  --sidebar-primary-foreground: 30 69.2308% 94.9020%;
  --sidebar-accent: 41.5385 21.3115% 11.9608%;
  --sidebar-accent-foreground: 29.4118 50.4950% 80.1961%;
  --sidebar-border: 40.9091 19.6429% 21.9608%;
  --sidebar-ring: 29.6842 50.2646% 37.0588%;
  --font-sans: Outfit, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}}

@layer base {
    :root {
        --font-sans: Outfit, sans-serif;
    }
    body {
        font-family: var(--font-sans);
    }
}
